<div class="header">
    <header class="d-flex justify-content-center py-2">
        <ul class="nav nav-pills">
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="">Task-1</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="Task2">Task-2</a>
            </li>
        </ul>
    </header>
</div>